 
#map {
    height: 700px;
    margin: 0 auto;
    display: flex;
}

.weather-icon img {
    width: 110px;
    height: 80px;
    margin-right: 20px;
   
}

.weather-info h2 {
    margin: 0;
    font-size: 40px;
   
}

.weather-info p {
    margin: 5px 0;
    font-size: 20px;
   
}

.weather-details { 
    display: flex;
    flex-direction: column;
    font-size: 15px;
   
    padding-top: 10px;
    width: 100%;
    line-height: 1.6;
}

    .weather-details p {
        margin: 5px 0;
    }


